<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unicom.hand.redeagle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".zhfy.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zhfy.ui.Load" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zhfy.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".zhfy.ui.WebActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.CheckTxlActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.old.Activity_Face2Face" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.old.Activity_list" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.old.Activity_search" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.old.SelectActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.LoginActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.CallActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.MyFragmentActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.IpActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.MyDepartMentActivity"
            android:label="@string/title_activity_my_depart_ment"
            android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.MyDepartMentActivity1"
            android:label="@string/title_activity_my_depart_ment"
            android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.MyDepartMentActivity2"
            android:label="@string/title_activity_my_depart_ment"
            android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.MyDepartMentActivity3"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my_depart_ment"
            android:theme="@style/AppTheme" />
        <activity android:name=".zhfy.ui.ContactRootActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.DataListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".zhfy.ui.SearchActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.ContactDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.XingZhengFuWuActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.XingZhengFuWuRootActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.LoginMdmActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.Activity_listxzfw" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.Activity_searchxzfw" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SphyMainActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.JoinMeetActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SelectXzfwActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.Activity_searchSelect" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.Activity_listselect" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.MeetingActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.PublishMeetingActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.PublishMeetingActivity1" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.LookMeetingActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".zhfy.ui.JoinMeetingMemberActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.ManageMeetingActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.MeetingRecoderActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.DangWuFuWuActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.fragment.IndexNewsDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SelectCityActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.ShiZhiOrXianJiActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.HyrcActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.PhoneRecoderActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SelectMemberJoinActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.MdmContactDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.LoginSphyActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.PicNewsDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.MeetDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.LookMeetingMd5Activity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.ControllActivityActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.LookVideoMeetingActivity"
            android:hardwareAccelerated="true" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.LayoutActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.TxtMainActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.BannerActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SubTitleActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.HylcActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.ItemXingZhengFuWuActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".zhfy.ui.MdmItemActivity"
            android:label="@string/title_activity_my_depart_ment"
            android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SelectMemberOnlineActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.SelectMemberOnlineSubtitleActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".zhfy.ui.CallLogDetailActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".zhfy.ui.SelectItemXingZhengFuWuActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".zhfy.ui.AddItemXingZhengFuWuActivity" android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>